doctype
html
    head
        meta(chartset="utf-8")
        title=title
    body
        style.
             a{margin-left:10px}

        h1(id=body-h1) 这是一个jade渲染的模板
        p=data 这是显示的data

        a(href="/?name=123") 123
        a(href="/?name=456") 456
        a(href="/?name=789") 789
        a(href="/?name=012") 012
